body {
  background: url("https://images-na.ssl-images-amazon.com/images/I/61Q69Lm-TdL._AC_SL1000_.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.boxbox {
  background-color: white;
  margin: auto;
  max-width: 80% fit-content;
  max-height: 100%;
}